HELP.md

!.mvn/wrapper/maven-wrapper.jar
# Ignorar todo en target/classes

# Ignorar todo en target/classes
target/classes/*
target/test-classes/*

# Permitir solo los archivos .properties
!target/classes/*.properties

# Permitir solo los archivos .properties
!target/classes/*.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### Env ###
.env
